{{>navigation}}
<body onload="cargarDatosDeCliente()">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div id="content" class="content content-full-width">
              <div class="profile">
                 <div class="profile-header">
                    <div class="profile-header-cover"></div>
                    <div class="profile-header-content">
                       <div class="profile-header-img">
                          <img src="/img/logop.png" alt="">
                       </div>
                       <div class="profile-header-info" id="botonActu">

                       </div>
                    </div>
                    <ul class="profile-header-tab nav nav-tabs" id="barradelinks">

                    </ul>
                 </div>
              </div>

              <div class="profile-content">
                <div class="tab-content p-0">
                  <div>
                    <div class="container-fluid">
                    {{#each clienteSelected}}

                    <div class="booking-form" style="background: white; display: block" id="ultimoEstado">

                        <div class="row">
                          <h5 class="badge bg-primary fs-5">DATOS PERSONALES</h5>
                          <div class="col-md-5">
                            <div class="form-group">
                              <p>Nombre: {{damnificado}}</p>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <p>Documento: {{dni_cuil}}</p>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <p>Edad: {{edad}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-5">
                            <div class="form-group">
                              <p>Domicilio: {{domicilio}}</p>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <p>Telefono: {{telefono}}</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <p>Fecha de Ingreso: {{fecha_ingreso}}</p>
                            </div>
                          </div>
                        </div>

                        {{!-- ESTADOOOOOOOOOOOOOOOOOOOO --}}

                        <div class="row">
                          <h5 class="badge bg-primary fs-5">DATOS LABORALES</h5>
                          <div class="col-md-6">
                            <div class="form-group">
                              <p>Empresa: {{empresa}}</p>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                            <p>Cuit: {{cuit_empresa}}</p>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <p>Rubro: {{rubro_empresa}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <p>Direccion: {{domicilio_empresa}}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <p>Turno: {{turno_empresa}}</p>
                            </div>
                          </div>
                          {{#if horario_inicio}}
                          <div class="col-md-2">
                            <div class="form-group">
                              <p>Ingreso: {{horario_inicio}}</p>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <p>Egreso: {{horario_fin}}</p>
                            </div>
                          </div>
                          {{else}}
                          <div class="col-md-4">
                            <div class="form-group">
                              <p>Horario: {{horario_rota}}</p>
                            </div>
                          </div>
                          {{/if}}
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <p>Tareas del Damnificado: {{tareas_empresa}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <h5 class="badge bg-primary fs-5">INFORMACION MEDICA</h5>
                          <div class="col-md-6">
                            <div class="form-group">
                              <p>ART: {{art}}</p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <p>Prestador Medico: {{prestador}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <p>Historia Clinica: {{historia_clinica}}</p>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <p>Estudios Medicos: {{estudios_medicos}}</p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <p>Estudios en: {{lugar_estudios}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">

                          {{!-- {{#each eventocli}} --}}

                                <div class="" style="background: rgba(19,7,232,0.6727065826330532) 77%;">
                                  <span class="date" style="color:white">Fecha: <p class="d-inline" id="fechaUltimoAccidente"></p></span>
                                  <div class="timeline-body">
                                    <div class="row">
                                      {{!--Tipo--}} 
                                      <div class="col-md-3 d-flex align-items-center text-cente">
                                        <div class="form-group">
                                            <span class="form-label">TIPO</span>
                                            <input class="form-control" type="text" disabled name="tipo" id="tipo" value="{{tipo}}"/>
                                        </div>
                                      </div>
                                      {{!-- Estado --}}
                                      <div id="divEstado" class="col-md-9">
                                          <div class="form-group">
                                            {{#if conInc}}
                                              {{#if conIncFechaVD}}
                                                <div class="form-group">
                                                  <span class="form-label">ESTADO</span>
                                                  <input class="form-control" type="text" value="CON INCAPACIDAD  >>  INGRESE FECHA DE VD  >>" disabled name="estado" id="estado"/>
                                                </div>
                                              {{else}}
                                                {{#if conIncFechaPend}}
                                                <div class="form-group">
                                                  <span class="form-label">ESTADO</span>
                                                  <input class="form-control" type="text" value="CON INCAPACIDAD  >>  FECHA VD PENDIENTE" disabled name="estado" id="estado"/>
                                                </div>
                                                {{else}}
                                                  <div class="form-group">
                                                    <span class="form-label">ESTADO</span>
                                                  <input class="form-control" type="text" value="CON INCAPACIDAD" disabled name="estado" id="estado"/>
                                                  </div>
                                                {{/if}}
                                              {{/if}}
                                            {{/if}}


                                            {{#if sinInc}}
                                              {{#if sinIncDDI}}
                                                {{#if sinIncDDIJud}}
                                                  <div class="form-group">
                                                    <span class="form-label">ESTADO</span>
                                                    <input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DDI  >>  JUDICIAL" disabled name="estado" id="estado"/>
                                                  </div>
                                                {{else}}
                                                  {{#if sinIncDDICerrar}}
                                                    <div class="form-group">
                                                      <span class="form-label">ESTADO</span>
                                                      <input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DDI  >>  CERRAR" disabled name="estado" id="estado"/>
                                                    </div>
                                                  {{else}}
                                                    <div class="form-group">
                                                      <span class="form-label">ESTADO</span>
                                                      <input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DDI" disabled name="estado" id="estado"/>
                                                    </div>
                                                  {{/if}}
                                                {{/if}}
                                              {{else}}
                                                {{#if sinIncDA}}
                                                  <div class="form-group">
                                                    <span class="form-label">ESTADO</span>
                                                    <input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DA" disabled name="estado" id="estado"/>
                                                  </div>
                                                {{else}}
                                                  <div class="form-group">
                                                    <span class="form-label">ESTADO</span>
                                                    <input class="form-control" type="text" value="SIN INCAPACIDAD" disabled name="estado" id="estado"/>
                                                  </div>
                                                {{/if}}
                                              {{/if}}
                                            {{/if}}


                                            {{#if detInc}}
                                              {{#if detIncDDI}}
                                                {{#if detIncDDIJud}}
                                                  <div class="form-group">
                                                    <span class="form-label">ESTADO</span>
                                                    <input class="form-control" type="text" value="DET INCAPACIDAD  >>  DDI  >>  JUDICIAL" disabled name="estado" id="estado"/>
                                                  </div>
                                                {{else}}
                                                  {{#if detIncDDICerrar}}
                                                    <div class="form-group">
                                                      <span class="form-label">ESTADO</span>
                                                      <input class="form-control" type="text" value="DET INCAPACIDAD  >>  DDI  >>  CERRAR" disabled name="estado" id="estado"/>
                                                    </div>
                                                  {{else}}
                                                    <div class="form-group">
                                                      <span class="form-label">ESTADO</span>
                                                      <input class="form-control" type="text" value="DET INCAPACIDAD  >>  DDI" disabled name="estado" id="estado"/>
                                                    </div>
                                                  {{/if}}
                                                {{/if}}
                                              {{else}}
                                              <div class="form-group">
                                                <span class="form-label">ESTADO</span>
                                                <input class="form-control" type="text" value="DET INCAPACIDAD" disabled name="estado" id="estado"/>
                                              </div>
                                            {{/if}}
                                            {{/if}}
                                            {{#if trat}}
                                              <div class="form-group">
                                                <span class="form-label">ESTADO</span>
                                                <input class="form-control" type="text" value="TRATAMIENTO" disabled name="estado" id="estado"/>
                                            </div>
                                            {{/if}}
                                            {{#if jud}}
                                              {{#if judAbr}}
                                                <div class="form-group">
                                                  <span class="form-label">ESTADO</span>
                                                  <input class="form-control" type="text" value="JUDICIAL  >>  ABREVIADO" disabled name="estado" id="estado"/>
                                                </div>
                                              {{else}}
                                                {{#if judOrd}}
                                                <div class="form-group">
                                                  <span class="form-label">ESTADO</span>
                                                  <input class="form-control" type="text" value="JUDICIAL  >>  ORDINARIO" disabled name="estado" id="estado"/>
                                                </div>
                                                {{else}}
                                                  <div class="form-group">
                                                    <span class="form-label">ESTADO</span>
                                                    <input class="form-control" type="text" value="JUDICIAL" disabled name="estado" id="estado"/>
                                                  </div>
                                                {{/if}}
                                              {{/if}}
                                            {{/if}}
                                            {{#if acord}}
                                              <div class="form-group">
                                                <span class="form-label">ESTADO</span>
                                                <input class="form-control" type="text" value="ACORDADO" disabled name="estado" id="estado"/>
                                              </div>
                                            {{/if}}
                                            {{#if cerrarSrt}}
                                              <div class="form-group">
                                                <span class="form-label">ESTADO</span>
                                                <input class="form-control" type="text" value="CERRAR (SRT)" disabled name="estado" id="estado"/>
                                              </div>
                                            {{/if}}
                                        </div>
                                      </div>
                                    </div>
                                    {{!-- Switchs --}}
                                    <div class="row">
                                      <div class="col-md-auto d-flex align-items-center text-center">
                                        <div class="form-group">
                                          <div class="form-check form-switch fs-5 text-light">
                                            {{#if importante}}
                                              <input class="form-check-input"type="checkbox" id="switch_importante" name="importante" checked disabled><label class="form-check-label" for="switch_importante" >IMPORTANTE</label>
                                            {{else}}
                                              <input class="form-check-input"type="checkbox" id="switch_importante" name="importante" disabled><label class="form-check-label" for="switch_importante">IMPORTANTE</label>
                                            {{/if}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-auto d-flex align-items-center text-center">
                                        <div class="form-group">
                                          <div class="form-check form-switch fs-5 text-light">
                                            {{#if regHonorarios}}
                                              <input class="form-check-input" type="checkbox" id="switch_regHonorarios" name="regHonorarios" checked disabled><label class="form-check-label" for="switch_regHonorarios">REG HONORARIOS</label>
                                            {{else}}
                                              <input class="form-check-input" type="checkbox" id="switch_regHonorarios" name="regHonorarios" disabled><label class="form-check-label" for="switch_regHonorarios">REG HONORARIOS</label>
                                            {{/if}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-auto d-flex align-items-center text-center">
                                        <div class="form-group">
                                          <div class="form-check form-switch fs-5 text-light">
                                            {{#if finalizado}}
                                              <input class="form-check-input" type="checkbox" id="switch_finalizado" name="finalizado" checked disabled><label class="form-check-label" for="switch_finalizado">FINALIZADO</label>
                                            {{else}}
                                              <input class="form-check-input" type="checkbox" id="switch_finalizado" name="finalizado" disabled><label class="form-check-label" for="switch_finalizado">FINALIZADO</label>
                                            {{/if}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-auto d-flex align-items-center text-center">
                                        <div class="form-group">
                                          <div class="form-check form-switch fs-5 text-light">
                                            {{#if baja}}
                                              <input class="form-check-input" type="checkbox" id="switch_baja" name="baja" checked disabled><label class="form-check-label" for="switch_baja">BAJA</label>
                                            {{else}}
                                              <input class="form-check-input" type="checkbox" id="switch_baja" disabled name="baja"><label class="form-check-label" for="switch_baja">BAJA</label>
                                            {{/if}}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    {{!-- Fechas --}}
                                    <div class="row">
                                      
                                        <div class="col-md-3 " id="fecha_acc">
                                            <span class="form-label">Fecha del Accidente</span>
                                            <input class="form-control" type="date" name="fecha_accidente" id="ultimo_fecha_accidente" disabled value=""/>
                                        </div>
                                        <div class="col-md-3" id="fecha_pmi">
                                            <span class="form-label">Fecha PMI</span>
                                            <input class="form-control" type="date" name="fecha_pmi" id="ultimo_fecha_pminput" disabled/>
                                        </div>
                                        <div class="col-md-3" id="divFechaVD">
                                            <span class="form-label">Fecha de VD</span>
                                            <input class="form-control" type="date" name="fechaVD" id="ultimo_fechaVD" disabled/>
                                        </div>
                                        <div class="col-md-3" id="divFechaTeams">
                                            <span class="form-label">Fecha TEAMS</span>
                                            <input class="form-control" type="date" name="fechaTeams" disabled id="ultimo_fechaTeams"/>
                                        </div>
                                    </div>
                                    {{!-- Detalles del hecho --}}
                                    <div class="row">
                                      <div class="form-group col-md-12" id="divNotas">
                                        <span class="form-label">DETALLES DEL HECHO</span>
                                        <input class="form-control" type="text" name="detalles" id="ultimo_detalles" disabled/>
                                      </div>
                                    </div>
                                    {{!-- Notas Observaciones --}}
                                    <div class="row">
                                      <div class="form-group col-md-9">
                                        <span class="form-label">NOTAS / OBSERVACIONES</span>
                                        <input class="form-control" type="text" name="notas" disabled id="ultimo_notas"/>
                                      </div>
                                      <div class="col-md-3">
                                          <span class="form-label">PROXIMO CONTACTO</span>
                                          <input class="form-control" type="date" name="fecha_prox_contacto" disabled id="ultimo_fecha_prox_contacto"/>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                    </div>
                    </div>
                    {{/each}}

                    <div class="tab-pane fade active show" style="display: none;" id="eventosHistoricos">
                    {{#each eventocli}}
                      <ul class="timeline">
                        <li>
                          <div class="timeline-time">
                            <span class="date">Fecha: {{fecha_evt}}</span>
                          </div>
                          <div class="timeline-icon">
                            <a href="">&nbsp;</a>
                          </div>
                          <div class="timeline-body">
                            {{!-- Tipo y Estados --}}
                            <div class="row">
                              {{!-- div tipo --}}
                              <div class="col-md-3 d-flex align-items-center text-cente">
                                <div class="form-group">
                                    <span class="form-label">TIPO</span>
                                    <input class="form-control" type="text" disabled name="tipo" id="tipo" value="{{tipo}}"/>
                                </div>
                              </div>
                              {{!-- div estado --}}
                              <div id="divEstado" class="col-md-9">
                                  <div class="form-group">
                                    {{#if conInc}}
                                      {{#if conIncFechaVD}}
                                        <div class="form-group">
                                          <span class="form-label">ESTADO</span>
                                          <input class="form-control" type="text" value="CON INCAPACIDAD  >>  INGRESE FECHA DE VD  >>" disabled name="estado" id="estado"/>
                                        </div>
                                      {{else}}
                                        {{#if conIncFechaPend}}
                                        <div class="form-group">
                                          <span class="form-label">ESTADO</span>
                                          <input class="form-control" type="text" value="CON INCAPACIDAD  >>  FECHA VD PENDIENTE" disabled name="estado" id="estado"/>
                                        </div>
                                        {{else}}
                                          <div class="form-group">
                                            <span class="form-label">ESTADO</span>
                                          <input class="form-control" type="text" value="CON INCAPACIDAD" disabled name="estado" id="estado"/>
                                          </div>
                                        {{/if}}
                                      {{/if}}
                                    {{/if}}


                                    {{#if sinInc}}
                                      {{#if sinIncDDI}}
                                        {{#if sinIncDDIJud}}
                                          <div class="form-group">
                                            <span class="form-label">ESTADO</span>
                                            <input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DDI  >>  JUDICIAL" disabled name="estado" id="estado"/>
                                          </div>
                                        {{else}}
                                          {{#if sinIncDDICerrar}}
                                            <div class="form-group">
                                              <span class="form-label">ESTADO</span>
                                              <input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DDI  >>  CERRAR" disabled name="estado" id="estado"/>
                                            </div>
                                          {{else}}
                                            <div class="form-group">
                                              <span class="form-label">ESTADO</span>
                                              <input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DDI" disabled name="estado" id="estado"/>
                                            </div>
                                          {{/if}}
                                        {{/if}}
                                      {{else}}
                                        {{#if sinIncDA}}
                                          <div class="form-group">
                                            <span class="form-label">ESTADO</span>
                                            <input class="form-control" type="text" value="SIN INCAPACIDAD  >>  DA" disabled name="estado" id="estado"/>
                                          </div>
                                        {{else}}
                                          <div class="form-group">
                                            <span class="form-label">ESTADO</span>
                                            <input class="form-control" type="text" value="SIN INCAPACIDAD" disabled name="estado" id="estado"/>
                                          </div>
                                        {{/if}}
                                      {{/if}}
                                    {{/if}}


                                    {{#if detInc}}
                                      {{#if detIncDDI}}
                                        {{#if detIncDDIJud}}
                                          <div class="form-group">
                                            <span class="form-label">ESTADO</span>
                                            <input class="form-control" type="text" value="DET INCAPACIDAD  >>  DDI  >>  JUDICIAL" disabled name="estado" id="estado"/>
                                          </div>
                                        {{else}}
                                          {{#if detIncDDICerrar}}
                                            <div class="form-group">
                                              <span class="form-label">ESTADO</span>
                                              <input class="form-control" type="text" value="DET INCAPACIDAD  >>  DDI  >>  CERRAR" disabled name="estado" id="estado"/>
                                            </div>
                                          {{else}}
                                            <div class="form-group">
                                              <span class="form-label">ESTADO</span>
                                              <input class="form-control" type="text" value="DET INCAPACIDAD  >>  DDI" disabled name="estado" id="estado"/>
                                            </div>
                                          {{/if}}
                                        {{/if}}
                                      {{else}}
                                      <div class="form-group">
                                        <span class="form-label">ESTADO</span>
                                        <input class="form-control" type="text" value="DET INCAPACIDAD" disabled name="estado" id="estado"/>
                                      </div>
                                    {{/if}}
                                    {{/if}}
                                    {{#if trat}}
                                      <div class="form-group">
                                        <span class="form-label">ESTADO</span>
                                        <input class="form-control" type="text" value="TRATAMIENTO" disabled name="estado" id="estado"/>
                                    </div>
                                    {{/if}}
                                    {{#if jud}}
                                      {{#if judAbr}}
                                        <div class="form-group">
                                          <span class="form-label">ESTADO</span>
                                          <input class="form-control" type="text" value="JUDICIAL  >>  ABREVIADO" disabled name="estado" id="estado"/>
                                        </div>
                                      {{else}}
                                        {{#if judOrd}}
                                        <div class="form-group">
                                          <span class="form-label">ESTADO</span>
                                          <input class="form-control" type="text" value="JUDICIAL  >>  ORDINARIO" disabled name="estado" id="estado"/>
                                        </div>
                                        {{else}}
                                          <div class="form-group">
                                            <span class="form-label">ESTADO</span>
                                            <input class="form-control" type="text" value="JUDICIAL" disabled name="estado" id="estado"/>
                                          </div>
                                        {{/if}}
                                      {{/if}}
                                    {{/if}}
                                    {{#if acord}}
                                      <div class="form-group">
                                        <span class="form-label">ESTADO</span>
                                        <input class="form-control" type="text" value="ACORDADO" disabled name="estado" id="estado"/>
                                      </div>
                                    {{/if}}
                                    {{#if cerrarSrt}}
                                      <div class="form-group">
                                        <span class="form-label">ESTADO</span>
                                        <input class="form-control" type="text" value="CERRAR (SRT)" disabled name="estado" id="estado"/>
                                      </div>
                                    {{/if}}
                                </div>
                              </div>
                            </div>
                            {{!-- switch --}}
                            <div class="row">
                              <div class="col-md-auto d-flex align-items-center text-center">
                                <div class="form-group">
                                  <div class="form-check form-switch fs-5 text-light">
                                    {{#if importante}}
                                      <input class="form-check-input"type="checkbox" id="switch_importante" name="importante" checked disabled><label class="form-check-label" for="switch_importante" >IMPORTANTE</label>
                                    {{else}}
                                      <input class="form-check-input"type="checkbox" id="switch_importante" name="importante" disabled><label class="form-check-label" for="switch_importante">IMPORTANTE</label>
                                    {{/if}}
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-auto d-flex align-items-center text-center">
                                <div class="form-group">
                                  <div class="form-check form-switch fs-5 text-light">
                                    {{#if regHonorarios}}
                                      <input class="form-check-input" type="checkbox" id="switch_regHonorarios" name="regHonorarios" checked disabled><label class="form-check-label" for="switch_regHonorarios">REG HONORARIOS</label>
                                    {{else}}
                                      <input class="form-check-input" type="checkbox" id="switch_regHonorarios" name="regHonorarios" disabled><label class="form-check-label" for="switch_regHonorarios">REG HONORARIOS</label>
                                    {{/if}}
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-auto d-flex align-items-center text-center">
                                <div class="form-group">
                                  <div class="form-check form-switch fs-5 text-light">
                                    {{#if finalizado}}
                                      <input class="form-check-input" type="checkbox" id="switch_finalizado" name="finalizado" checked disabled><label class="form-check-label" for="switch_finalizado">FINALIZADO</label>
                                    {{else}}
                                      <input class="form-check-input" type="checkbox" id="switch_finalizado" name="finalizado" disabled><label class="form-check-label" for="switch_finalizado">FINALIZADO</label>
                                    {{/if}}
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-auto d-flex align-items-center text-center">
                                <div class="form-group">
                                  <div class="form-check form-switch fs-5 text-light">
                                    {{#if baja}}
                                      <input class="form-check-input" type="checkbox" id="switch_baja" name="baja" checked disabled><label class="form-check-label" for="switch_baja">BAJA</label>
                                    {{else}}
                                       <input class="form-check-input" type="checkbox" id="switch_baja" disabled name="baja"><label class="form-check-label" for="switch_baja">BAJA</label>
                                    {{/if}}
                                  </div>
                                </div>
                              </div>
                            </div>
                            {{!-- div Fechas --}}
                            <div class="row">
                              {{#if fecha_accidente}}
                              <div class="col-md-3 d-flex align-items-center text-center">
                                <div class="form-group" id="fecha_acc">
                                  <span class="form-label">Fecha del Accidente</span>
                                  <input class="form-control" type="date" name="fecha_accidente" id="fecha_accidente" disabled value="{{fecha_accidente}}"/>
                                </div>
                              </div>
                              {{/if}}
                              {{#if fecha_pmi}}
                              <div class="col-md-3 d-flex align-items-center text-center">
                                <div class="form-group" id="fecha_pmi">
                                  <span class="form-label">Fecha PMI</span>
                                  <input class="form-control" type="date" name="fecha_pmi" id="fecha_pminput" disabled value="{{fecha_pmi}}"/>
                                </div>
                              </div>
                              {{/if}}
                              {{#if fechaVD}}
                              <div class="col-md-3" id="divFechaVD">
                                  <span class="form-label">Fecha de VD</span>
                                  <input class="form-control" type="date" name="fechaVD" id="fechaVD" disabled value="{{fechaVD}}"/>
                              </div>
                              {{/if}}
                              {{#if fechaTeams}}
                              <div class="col-md-3" id="divFechaTeams">
                                  <span class="form-label">Fecha TEAMS</span>
                                  <input class="form-control" type="date" name="fechaTeams" disabled id="fechaTeams" value="{{fechaTeams}}"/>
                              </div>
                              {{/if}}
                            </div>
                            <div class="row">
                              <div class="form-group col-md-12" id="divNotas">
                                <span class="form-label">DETALLES DEL HECHO</span>
                                <input class="form-control" type="text" name="detalles" id="detalles" disabled value="{{detalles}}" />
                              </div>
                            </div>

                            <div class="row">
                              <div class="form-group col-md-9">
                                <span class="form-label">NOTAS / OBSERVACIONES</span>
                                <input class="form-control" type="text" name="notas" disabled id="notas" value="{{notas}}" />
                              </div>
                              <div class="col-md-3">
                                  <span class="form-label">PROXIMO CONTACTO</span>
                                  <input class="form-control" type="date" name="fecha_prox_contacto" disabled id="fecha_prox_contacto" value="{{fecha_prox_contacto}}"/>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    {{/each}}
                    </div>

                    <div class="tab-pane fade active show" style="display: none;" id="eventosPost">
                    </div>

                 </div>
              </div>

              <div class="d-flex justify-content-center">
                <a class="btn btn-primary m-3 p-2" href="/profile" role="button">VOLVER AL MENU</a>
              </div>
           </div>
        </div>
     </div>
  </div>


</body>


<script>

  const allEvents = {{{dataeventos}}};
  const ultimoIndice = allEvents.length-1
 
  document.getElementById("fechaUltimoAccidente").innerHTML = allEvents[ultimoIndice].fecha_evt
  document.getElementById("ultimo_fecha_accidente").value = allEvents[ultimoIndice].fecha_accidente
  document.getElementById("ultimo_fecha_pminput").value = allEvents[ultimoIndice].fecha_pmi
  document.getElementById("ultimo_fechaVD").value = allEvents[ultimoIndice].fechaVD
  document.getElementById("ultimo_fechaTeams").value =allEvents[ultimoIndice].fechaTeams
  document.getElementById("ultimo_detalles").value =allEvents[ultimoIndice].detalles
  document.getElementById("ultimo_notas").value =allEvents[ultimoIndice].notas
  document.getElementById("ultimo_fecha_prox_contacto").value =allEvents[ultimoIndice].fecha_prox_contacto
  
  const varTipo = document.getElementById("tipo").value

  if (varTipo == "Enfermedad"){
    document.getElementById("fecha_acc").style.display = "none"
    document.getElementById("fecha_pmi").style.display = "block"
  }else{
    document.getElementById("fecha_acc").style.display = "block"
    document.getElementById("fecha_pmi").style.display = "none"
  }

  const varTipoFechaVD = document.getElementById("estado").value
  if (varTipoFechaVD == "CON INCAPACIDAD  >>  INGRESE FECHA DE VD  >>"){
    document.getElementById("divFechaVD").style.display = "block"
  }else{
    document.getElementById("divFechaVD").style.display = "none"    
  }

  if (allEvents[ultimoIndice].conInc == "on" || allEvents[ultimoIndice].detInc == "on"){
    document.getElementById("divFechaTeams").style.display = "block"
  }else{
    document.getElementById("divFechaTeams").style.display = "none"
  }


  function cargarDatosLegales(){
    verPanelEventos()
    const allEvents = {{{dataeventos}}};
    const arrayLegales = allEvents.filter(function(evtL){
      if (evtL.diag_leg == ""|| evtL.diag_leg == null)
      console.log(evtL.diag_med)
      else
      return true
    })
    generadoraHtml(arrayLegales, "legal")
  }

  function cargarDatosMedicos(){
    verPanelEventos()
    const allEvents = {{{dataeventos}}};
    const arrayMedicos = allEvents.filter(function(evtM){
      if (evtM.diag_med == ""|| evtM.diag_med == null)
      console.log(evtM.diag_med)
      else
      return true
    })
    generadoraHtml(arrayMedicos, "medico")
  }

  function cargarDatosPsicologicos(){
    verPanelEventos()
    const allEvents = {{{dataeventos}}};
    const arrayPsico = allEvents.filter(function(evtP){
      if (evtP.diag_psico == ""|| evtP.diag_psico == null)
        console.log(evtP.diag_psico)
      else
      return true
    })
    generadoraHtml(arrayPsico, "psico")
  }

   function generadoraHtml(arrayEvt, flag){

    constructor = ""
    constructor = '<ul class="timeline">'

    for (let index = 0; index < arrayEvt.length; index++) {
      constructor += '<li><div class="timeline-time"><span class="date">Fecha: </span><span class="time">'+arrayEvt[index].fecha_evt+'</span></div><div class="timeline-icon"><a href="">&nbsp;</a></div><div class="timeline-body">';
      if (flag == "legal" ){
        constructor += '<div class="timeline-header"><span class="username"><a href="">DIAGNOSTICO LEGAL</a></span></div><div class="timeline-content"><p>'+arrayEvt[index].diag_leg+'</p><br><p>PROXIMA VISITA LEGAL: '+arrayEvt[index].fecha_prox_legal+'</p></div>'};
      if (flag == "medico"){
        constructor += '<div class="timeline-header"><span class="username"><a href="">DIAGNOSTICO MEDICO</a></span></div><div class="timeline-content"><p>'+arrayEvt[index].diag_med+'</p><br><p>PROXIMA VISITA MEDICA: '+arrayEvt[index].fecha_prox_med+'</p></div>'};
      if (flag == "psico"){
        constructor += '<div class="timeline-header"><span class="username"><a href="">DIAGNOSTICO PSICOLOGICO</a></span></div>      <div class="timeline-content"><p>'+arrayEvt[index].diag_psico+'</p><br><p>PROXIMA VISITA PSICOLOGICA: '+arrayEvt[index].fecha_prox_psico+'</p></div>'};
      constructor += '<div class="timeline-comment-box"><div class="input"><div class="input-group"><span class="input-group-btn p-l-10">Fecha de Contacto: '+arrayEvt[index].fecha_prox_contacto+'</span></div></div></div></div></li>';
    }
    constructor += '</ul>'

    if (arrayEvt.length == 0){
      document.getElementById("eventosPost").innerHTML = '<div class="booking-form text-center"><h2>NO HAY EVENTOS PARA EL CLIENTE SELECCIONADO</h2></div>'}
      else{document.getElementById("eventosPost").innerHTML = constructor}
  }

  function cargarDatosDeCliente(){
    const allEvents = {{{dataeventos}}};
    const clienteSeleccionado = {{{clienteSel}}};

    document.getElementById("botonActu").innerHTML = '<h4 class="m-t-10 m-b-5">'+clienteSeleccionado[0].damnificado+'</h4><p class="m-b-10">DNI: '+clienteSeleccionado[0].dni_cuil+' Telefono: '+clienteSeleccionado[0].telefono+'</p><a class="btn btn-primary" href="/links/edit/'+clienteSeleccionado[0].id_cliente+'" class="btn btn-primary">EDITAR DATOS</a><a class="btn btn-primary" href="/links/evento/'+clienteSeleccionado[0].id_cliente+'" role="button">AGREGAR EVENTO</a>'

    document.getElementById("barradelinks").innerHTML = '<li class="nav-item"><a href="#" class="nav-link" onclick="verUltimoEstado()">ULTIMO ESTADO</a></li><li class="nav-item"><a href="#" class="nav-link" onclick="verEstadosHistoricos()">ESTADOS HISTORICOS</a></li><li class="nav-item"><a href="#" class="nav-link" onclick="cargarDatosLegales()">EVENTOS LEGALES</a></li><li class="nav-item"><a href="#" class="nav-link" onclick="cargarDatosMedicos()">EVENTOS MEDICOS</a></li><li class="nav-item"><a href="#" class="nav-link "onclick="cargarDatosPsicologicos()">EVENTOS PSICOLOGICOS</a></li>'
  };

  function refrescar() {
    location.reload()
  }

function verUltimoEstado(){
  document.getElementById("ultimoEstado").style.display = "block"
  document.getElementById("eventosHistoricos").style.display = "none"
  document.getElementById("eventosPost").style.display = "none"
}
function verEstadosHistoricos(){
  document.getElementById("ultimoEstado").style.display = "none"
  document.getElementById("eventosHistoricos").style.display = "block"
  document.getElementById("eventosPost").style.display = "none"
}
function verPanelEventos(){
  document.getElementById("ultimoEstado").style.display = "none"
  document.getElementById("eventosHistoricos").style.display = "none"
  document.getElementById("eventosPost").style.display = "block"
}

</script>
